<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../../partials/news_head.ejs %>
    </head>
    <body class="thi-mobile">

    <header>
        <% include ../../partials/news_header.ejs %>
    </header>
		
        <div class="mainContent">
            <div class="grid-x grid-padding-x">
                <div class="medium-12 cell" style="padding: 1.5rem;">	
					<div class="editView active home">
						<div>
							<h1>Verity Mobile Notifications</h1></span>
							<a class="secondary button" id="newNotificationButton" href="/news/text" style="margin-top: 1rem; float: left;">New Notification</a> 
						</div>
						<div>
							<table class="display" id="notificationsListTable" width="100%" style="table-layout: fixed;">
								<thead>
									<tr>
										<th align="left" style="width: 200px"><i class="fas fa-paper-plane" title="Sent"></i> Sent / <i class="fas fa-save" title="Saved"></i> Saved</th>
										<th align="left" style="width: 100px;">ID</th>
										<th align="left" style="width: 100px">Type</th>
										<th align="left" style="width: 150px">Recipient(s)</th>
										<th align="left">Notification Text/Video Transcript</th>
										<th align="center" style="width: 110px">Actions</th>
									</tr>
								</thead>
							<tbody>
								<% events.forEach(function(ev) { %>
								
								<tr>
									<td align="left">
										<% if(ev[0].indexOf("Created") == -1) { %>
											<i class="fas fa-paper-plane"></i>
										<% } else { %>
											<i class="fas fa-save"></i>
										<% } %>
										<%- ev[0].split("by")[0] + " <br/><small>by " + ev[0].split("by")[1] + "</small>"; %>
									</td>
									<td align="left"><%= ev[1] %></td>
									<td align="left"><%= ev[2] %></td>
									<td align="left">
										<% if(ev[0].indexOf("Created") == -1) { %>
											<a href="news/recipients/<%= ev[1] %>/list?is_sent=true"><%= ev[3] %></a>
										<% } else { %> 
											<a href="news/recipients/<%= ev[1] %>/list?is_sent=false"><%= ev[3] %></a>
										<% } %></td>
									<td align="left" style="word-wrap: break-word;"><%= ev[4] %></td>
									<td>
										<% if(ev[0].indexOf("Created") == -1) { %>
											<a class="button hollow" data-tooltip="data-tooltip" title="View" href="/news/events/<%= ev[1] %>/show" style="">
												 <i class="fas fa-eye"></i> 
											</a>
										<% } else { %>
											<a class="button hollow" data-tooltip="data-tooltip" title="Edit" href="/news/events/<%= ev[1] %>/show" style="">
												<i class="fas fa-edit"></i> 
											</a>
										<% } %>
										
										<a class="button hollow" data-tooltip="data-tooltip" title="Delete" href="#" onclick="deleteEvent(<%= ev[1] %>, <%= ev[5] %>, function () {location.reload()});">
											<i class="fas fa-trash"></i>
										</a>
									</td>
								</tr>
								<% }); %>

							</table>
						</div>
					</div>
                </div>
            </div>
        </div>
		<div class="result"></div>
		<footer class="text-center VHMfooter">
			<% include ../../partials/footer.ejs %>
		</footer>
	</body>
</html>
