<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../../partials/news_head.ejs %>
    </head>
    <body class="thi-mobile">

    <header>
        <% include ../../partials/news_header.ejs %>
    </header>

        <div style="max-width: 1400px; margin: 0 auto;">
            <div class="grid-x grid-padding-x">
                <div class="medium-12 cell" style="padding: 1.5rem;">
                    <h2>New Notification</h2>
					<label>Type</label>
					<div class="button-group">
					  <a class="button active" onclick="$(this).parents('.button-group').children('.button').removeClass('active'); $(this).addClass('active'); $('.typeSpecific').addClass('hide');  $('.typeSpecific.textType').removeClass('hide'); $('form').hide(); $('.textForm').show();">Text Only</a>
					  <a class="button" onclick="$(this).parents('.button-group').children('.button').removeClass('active'); $(this).addClass('active'); $('.typeSpecific').addClass('hide'); $('.typeSpecific.imageType').removeClass('hide'); $('form').hide(); $('.imageForm').show();">Text &amp; Image</a>
					  <a class="button" onclick="$(this).parents('.button-group').children('.button').removeClass('active'); $(this).addClass('active'); $('.typeSpecific').addClass('hide'); $('.typeSpecific.linkType').removeClass('hide'); $('form').hide(); $('.linkForm').show();">Link</a>
					  <a class="button" onclick="$(this).parents('.button-group').children('.button').removeClass('active'); $(this).addClass('active'); $('.typeSpecific').addClass('hide'); $('.typeSpecific.videoType').removeClass('hide'); $('form').hide(); $('.videoForm').show();">Video</a>
					</div>
					
                    <form class="textForm" action="/news/textEvents" accept-charset="UTF-8" method="post">
                        <input type="hidden" name="event_update" value="0" />
                        <div class="field">
                            <label for="event_subscription_id">Source/subscription</label>
                            <select name="event_subscription_id" id="event_subscription_id">
                                <% sub_labels.forEach(function(sl) { %>
                                    <option value="<%= sl.subscriptions_id %>"><%= sl.name %></option>
                                <% }); %>
                            </select>
                        </div>

                        <div class="field">
                            <label for="event_title">Title</label>
                            <input id="event_title" type="text" name="event_title" />
                        </div>

                        <div class="field">
                            <label id="text-label" class="text required" for="event_text" >Notification text</label>
                            <textarea id="event_text" rows="5" name="event_text" required></textarea>
                        </div>

                        <br>
                        <div class="actions">
                            <input type="submit" value="Save & Send Now" class="button primary" formaction="/news/textEventsSaveSend"/>
                            <input type="submit" value="Save for Later" class="button" formaction="/news/textEventsSave"/>
                            <a class="button" href="/news">Cancel</a>
                        </div>
                    </form>

					<form class="imageForm" style="display: none;" enctype="multipart/form-data" action="/news/imageEvents" accept-charset="UTF-8" method="post">

                        <input type="hidden" name="event_update" value="0" />

                        <div class="field">
                            <label for="event_subscription_id">Source/subscription</label>
                            <select name="event_subscription_id" id="event_subscription_id">
                                <% sub_labels.forEach(function(sl) { %>
                                    <option value="<%= sl.subscriptions_id %>"><%= sl.name %></option><
                                <% }); %>
                            </select>
                        </div>


                        <div class="field">
                            <label for="event_title">Title</label>
                            <input id="event_title" type="text" name="event_title" />
                        </div>


                        <div class="field">
                            <label class="text required" for="event_image">Image</label>
                            <input id="event_image" accept="image/png,image/jpeg" type="file" name="event_image" required/>
                            <p class="help-text">Limit to the following file formats: jpg, jpeg, png</p>
                        </div>

                        <div class="field">
                            <label class="text required" for="event_Short Image Description (For Accessibility)">Short image description (for accessibility)</label>
                            <input id="event_short_image_description" type="text" name="event_short_image_description" required/>
                        </div>

                        <div class="field">
                            <label class="text required" id="text-label" for="event_Notification Text">Notification text</label>
                            <textarea id="event_text" rows="5" name="event_text" required></textarea>
                        </div>

                        <br>
                        <div class="actions">
                            <input type="submit" value="Save & Send Now" class="button primary" formaction="/news/imageEventsSaveSend"/>
                            <input type="submit" value="Save for Later" class="button" formaction="/news/imageEventsSave"/>
                            <a class="button" href="/news">Cancel</a>
                        </div>
                    </form>
						
					<form class="linkForm" style="display: none;" action="/news/linkEvents" accept-charset="UTF-8" method="post">

                        <input type="hidden" name="event_update" value="0" />

                        <div class="field">
                            <label for="event_subscription_id">Source/subscription</label>
                            <select name="event_subscription_id" id="event_subscription_id">
                                <% sub_labels.forEach(function(sl) { %>
                                    <option value="<%= sl.subscriptions_id %>"><%= sl.name %></option><
                                <% }); %>
                            </select>
                        </div>

                        <div class="field">
                            <label for="event_title">Title</label>
                            <input id="event_title" type="text" name="event_title" />
                        </div>

                        <div class="field">
                            <label class="text required" for="event_link">Link</label>
                            <input id="event_link" type="text" name="event_link" required/>
                        </div>

                        <div class="field">
                            <label class="text required" id="text-label" for="event_text">Notification text</label>
                            <textarea id="event_text" rows="5" name="event_text" required></textarea>
                        </div>
                        <br>
                        <div class="actions">
                            <input type="submit" value="Save & Send Now" class="button primary" formaction="/news/linkEventsSaveSend"/>
                            <input type="submit" value="Save for Later" class="button" formaction="/news/linkEventsSave"/>
                            <a class="button" href="/news">Cancel</a>
                        </div>
                    </form>
						
					<form class="videoForm" style="display: none;" enctype="multipart/form-data" action="/news/videoEvents" accept-charset="UTF-8" method="post">

                        <input type="hidden" name="event_update" value="0" />

                        <div class="field">
                            <label for="event_subscription_id">Source/subscription</label>
                            <select name="event_subscription_id" id="event_subscription_id">
                                <% sub_labels.forEach(function(sl) { %>
                                    <option value="<%= sl.subscriptions_id %>">
                                        <%= sl.name %>
                                    </option>
                                <% }); %>
                            </select>
                        </div>

                        <div class="field">
                            <label for="event_title">Title</label>
                            <input id="event_title" type="text" name="event_title" />
                        </div>


                        <div class="field">
                            <label class="text required" for="event_video">Video</label>
                            <input id="event_video" accept="video/mp4, .mov"  type="file" name="event_video" required/>
                            <p class="help-text">Limit to the following file formats: mov, mp4</p>
                        </div>


                        <div class="field">
                            <label id="text-label" class="text required" for="event_text">Video transcript (for accessibility)</label>
                            <textarea id="event_text" rows="5" name="event_text" required></textarea>
                        </div>

                        <br>
                        <div class="actions">
                            <input type="submit" value="Save & Send Now" class="button primary" formaction="/news/videoEventsSaveSend"/>
                            <input type="submit" value="Save for Later" class="button" formaction="/news/videoEventsSave"/>
                            <a class="button" href="/news">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>


    <footer class="text-center VHMfooter">
        <% include ../../partials/footer.ejs %>
    </footer>
    </body>
</html>
